/* Write your CSS here */
.nav-items-list {
  list-style-type: none;
  padding-left: 0px;
}
.website-logo {
  height: 70px;
  width: 70px;
}
.nav-items-list {
  font-family: 'Roboto';
  color: #000000;
  font-weight: 600;
  font-size: 22px;
}
.dark-theme-img {
  height: 40px;
  width: 40px;
}
.nav-items-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
